/* リセット */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 全体フォント */
body {
  font-family: Noto Sans JP, sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

/* リンク装飾 */
a {
  text-decoration: none;
  color: #0070f3;
}

a:hover {
  text-decoration: underline;
}

input {
  margin-left: 4px;
  padding: 0.5rem 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

label {
  margin-left: 8px;
}

