[
  {
    "method": "GET",
    "path": "/users/{id}",
    "response_template": "users_{id}.json",
    "auth": true,
    "delay": 200
  },
  {
    "method": "POST",
    "path": "/login",
    "response_template": "login_default.json",
    "match": {
      "field": "username",
      "source": "body",
      "cases": {
        "admin": "login_admin.json",
        "guest": "login_guest.json"
      },
      "default": "login_default.json"
    },
    "delay": 500
  },
  {
    "method": "GET",
    "path": "/items",
    "response_template": "items_default.json",
    "match": {
      "fields": ["type","sort"],
      "source": "query",
      "cases": {
        "foo_asc":"items_foo_asc.json",
        "foo_":"items_foo.json",
        "bar_desc":"items_bar_desc.json",
        "bar_":"items_bar.json"
      },
      "default": "items_default.json"
    }
  }
]